/* some resets */
* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
}

/* main */
#app {
    text-align: center;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    #app {
        flex-direction: column;
    }
    #app div + div {
        margin-top: 1rem;
    }
}

#app > div {
    margin: 0 0.5rem;
}

button {
    display: inline-block;
    background:#F3983E;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    padding: 0.5em 1em;
}

